/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

/* Timer */

.wrapper {
  display: flex;
  justify-content: center;
}

.form-timer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  margin-top: 32px;
  
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  
  gap: 8px;
}

.text {
  padding-left: 16px;
  border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #2e2f42;
}
.text:hover{
  border: 1px solid #000;
}
.text:active {
  border: 1px solid #4e75ff;
}
.text:disabled {
  border: 1px solid #808080;
  background: #fafafa;
}

.btn {
  border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    background: #4e75ff;
    font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #fff;
    border: none;
    cursor: pointer;
}

.btn:hover {
  background: #6c8cff;
}

.btn:disabled {
  background: #cfcfcf;
  color: #989898;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.label {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}

/* Snackbar */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-delay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 16px;
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.delay-input{
  border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding-left: 16px;
    font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #2e2f42;
}

.delay-input:hover {
  border: 1px solid #000;
}

.delay-input:active {
  border: 1px solid #4e75ff;
}

.state {
  border-radius: 4px;
    stroke-width: 1px;
    stroke: #808080;
    margin-bottom: 24px;
    width: 354px;
      height: 78px;
}

.state:hover {
  border-radius: 4px;
    stroke-width: 1px;
    stroke: #000;
}

.input-state {
  margin-left: -150px;
}

.state-label{
display: flex;
margin: 24px 48px 8px 48px;

gap: 48px;
}

.btn-sb {
  border-radius: 8px;
    padding: 8px 16px;
    width: 384px;
    height: 40px;
    background: #4e75ff;
    font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #fff;
      border: none;
      cursor: pointer;
}

.btn-sb:hover {
  background: #6c8cff;
}